.ctaContainer {
  display: block;
  padding: 20px 30px 40px 30px;
  border-radius: 20px;
  margin-bottom: 10px;
  text-decoration: none;
  border: 5px solid #927de6;
  border-left: 30px solid #927de6;
  transition: border-color 0.3s;
  background-color: var(--ifm-background-color); /* Added background color */
}

.ctaContainer:hover {
  border-color: #9c90eb;
  text-decoration: none;
}

.ctaTitle {
  font-size: 22.5px;
  color: white; /* Added text color */
}

.ctaContent {
  margin-top: 10px;
  color: white; /* Added text color */
}

.ctaArrow {
  display: inline-block;
  float: right;
  font-size: 30px;
  line-height: 0;
  color: white; /* Added text color */
}